.section .card{
    display: flex;
    width: 100%;
    margin-bottom: .8rem; 
}

.section .card .card-image figure{
    width: 100%;
    height: auto;
    max-width: 12rem;
}   

.section .card .card-content{
    padding: 1.5rem .5rem;
}
.container-checkBox {
    width: 30% !important;
}

/* Get Profile by User */
.section-search-form .div-form{
    width: 90%;
}

.section-search-form .div-form .div-form-fields{
    width: 80%;
}

.section-search-form .div-form .div-form-button{
    width: 20%;
}

.section-search-form .div-form .div-form-button input{
    width: 100%;
}

.section-search-form{
    margin: 1rem 0rem;
}
.section-user-display .card-image figure{
    width: 100%;
    height: auto;
    max-width: 12rem;
}
.user-not-found {
    display: flex;
    width: 30%;
    margin: 2rem 0rem !important; 
    padding: 1rem;
}

/* Compare  */

.compare-section {
    flex-direction: row !important;
}
.compare-section .compare-column{
    width: 50%;
    margin: 40px 10px;
}

.compare-section .compare-column .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-section .compare-column .card .card-image figure{
    width: 100%;
    max-width: 15rem;
    height: auto;
}

@media only screen and (min-width: 960px)  {
    .section .card{
        display: flex;
        width: 60%;
        margin-bottom: .8rem; 
    }

    .section-search-form .div-form{
        width: 60%;
    }
}